// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright 2025 NXP
*/

/dts-v1/;
/plugin/;


#include "imx95-clock.h"
#include <dt-bindings/gpio/gpio.h>

&lpi2c3 {

	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";

	imx477: imx477@1a {
		compatible = "sony,imx477";
		reg = <0x1a>;
		csi_id = <0>;
		rst-gpios = <&i2c3_gpio_expander_20 2 GPIO_ACTIVE_LOW>;

		orientation = <2>;
		rotation = <0>;
		status = "okay";

		//clock-names = "xclk";
		//clocks = <&scmi_clk IMX95_CLK_24M>;
		clocks = <&scmi_clk IMX95_CLK_LPI2C3>;

		port {
			imx477_mipi_0_ep: endpoint {
				remote-endpoint = <&mipi_csi0_ep>;
				data-lanes = <1 2 3 4>;
				clock-lanes = <0>;
				link-frequencies = /bits/ 64 <456000000>;
			};
		};
		
	};


};

&dphy_rx {
	status = "okay";
};

&mipi_csi0 { 
    status = "okay";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;
    
		port@0 {
			reg = <0>;
			mipi_csi0_ep: endpoint {
				remote-endpoint = <&imx477_mipi_0_ep>;
				data-lanes = <1 2>;
				clock-lanes = <0>;
			};
		};
		port@1 {
			reg = <1>;
			mipi_csi0_out: endpoint {
				remote-endpoint = <&formatter_0_in>;
			};
		};
	};
};

&csi_pixel_formatter_0 {
	status = "okay";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			reg = <0>;

			formatter_0_in: endpoint {
				remote-endpoint = <&mipi_csi0_out>;
			};
		};

		port@1 {
			reg = <1>;

			formatter_0_out: endpoint {
				remote-endpoint = <&isi_in_2>;
			};
		};
	};
};

&isi {
	status = "okay";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@2 {
			reg = <2>;

			isi_in_2: endpoint {
				remote-endpoint = <&formatter_0_out>;
			};
		};
	};
};

